main {
  margin: 1rem;
  padding: 1rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fotosvarias {
  padding: 3rem;
  width: 500px; }

.body {
  background-color: #05105d; }

/*para desktop*/
/*estilo header*/
header {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #0c76be;
  gap: 1rem; }
  header img {
    width: 600px;
    border: 3px solid black; }
  header h1 {
    color: #d1d5e2;
    font-size: 2 rem;
    background-color: #2f71eb;
    padding: 0.5rem 1.5rem;
    border-bottom-left-radius: 3.75rem;
    text-align: center; }
  header nav {
    display: flex;
    justify-content: center; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        font-size: x-large;
        display: inline-block;
        background-color: #64d7ee;
        margin: 0.6rem;
        padding: 0.6rem;
        border-bottom-left-radius: 1.8rem;
        position: sticky; }
      header nav ul a {
        text-decoration: none; }

/*estilo main uno*/
.main {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center; }
  .main .col {
    margin: 1rem;
    padding: 1rem;
    background-color: #c9ccec; }

/*estilo main dos*/
.main2 {
  margin: 1.25rem;
  display: grid;
  gap: 1.25rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "hijo1 hijo1 hijo1" "hijo2 hijo2 hijo3" "hijo4 hijo4 hijo4"; }
  .main2 .hijo1 {
    background-color: #c9ccec;
    grid-area: hijo1;
    text-align: center; }
  .main2 .hijo2 {
    grid-area: hijo2; }
    .main2 .hijo2 iframe {
      width: 80%;
      height: 400px; }
  .main2 .hijo3 {
    color: beige;
    grid-area: hijo3; }
  .main2 .hijo4 {
    color: beige;
    grid-area: hijo4; }

/* estilos html contacto */
.contacto {
  padding: 1rem; }

/*estilo footer*/
footer {
  margin: 1.25rem;
  display: grid;
  gap: 1.25rem;
  grid-template-areas: "son1 son2 son3" "son1 son2 son3" "son1 son2 son3"; }
  footer .son1 {
    grid-area: son1; }
  footer .son2 {
    grid-area: son2; }
  footer .son3 {
    grid-area: son3; }
  footer .wpp {
    width: 40px;
    position: fixed;
    right: 15px;
    bottom: 15px; }
  footer a {
    font-size: x-large;
    text-decoration: none;
    color: whitesmoke; }

/*estilos para celulares*/
@media screen and (max-width: 500px) {
  .percu {
    width: 400px; }
  .fotosvarias {
    padding: 3rem;
    width: 500px; }
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center; }
    .main .main .col {
      width: 80%; }
  .main2 {
    grid-template-areas: "hijo1 hijo1 hijo1" "hijo2 hijo2 hijo2" "hijo3 hijo3 hijo3" "hijo4 hijo4 hijo4"; }
  .hijo2 iframe {
    width: 100%;
    height: 300px; } }

/*estilo para tablets*/
@media screen and (max-width: 800px) {
  .header .imagenHeader {
    width: 80%;
    margin: 1rem; }
  .percu {
    width: 400px; }
  .fotosvarias {
    padding: 3rem;
    width: 500px; }
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center; }
    .main .main .col {
      width: 80%; }
  .main2 {
    grid-template-areas: "hijo1 hijo1 hijo1" "hijo2 hijo2 hijo2" "hijo3 hijo3 hijo3" "hijo4 hijo4 hijo4"; }
  .hijo2 iframe {
    width: 100%;
    height: 300px; } }
