@import "extra/vars";
@import "extra/mixin";





main{
  @include margenes;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



//nesting

.fotosvarias{
  @include fotosvarias;

}

.body{
  background-color: rgb(5, 16, 93);
}
/*para desktop*/
/*estilo header*/
header{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 118, 190);
    gap: 1rem;
    img {
        width:600px;       
        //margin: 1.8rem 6.25rem 1.8rem 12.5rem;
        border: 3px solid black;
      }

    h1{
        color: rgb(209, 213, 226);
        font-size: 2 rem;
        background-color: rgb(47, 113, 235);
        //margin: 1.8rem 3.1rem 1.8rem 3.1rem;
        padding: 0.5rem 1.5rem;
        border-bottom-left-radius: 3.75rem;
        text-align: center;

    }
    nav{
        display: flex;
        justify-content: center;
        ul{
        list-style: none;
        li{
            font-size: x-large;
            display: inline-block; 
            background-color: rgb(100, 215, 238);
            margin: 0.6rem;
            padding: 0.6rem;
            border-bottom-left-radius: 1.8rem;
            position: sticky;
            //margin-top: 6.25rem;
        }
        a{
            text-decoration: none;
        }
    }
    }
}
/*estilo main uno*/



.main{
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
    justify-content: center;
    .col{
        margin: 1rem;
        padding: 1rem;
        background-color: rgb(201, 204, 236);
  }
}
/*estilo main dos*/

.main2 {
    margin: 1.25rem;
    display: grid;
    gap: 1.25rem;
    justify-content: center;
    grid-template-columns:repeat(3, 1fr) ;
    //grid-template-rows:repeat(3, 1fr) ;
    grid-template-areas:
      "hijo1 hijo1 hijo1"
      "hijo2 hijo2 hijo3"
      "hijo4 hijo4 hijo4";
      .hijo1 {
        background-color: rgb(201, 204, 236);
        grid-area: hijo1; 
        text-align: center;
      }
      .hijo2 {
        grid-area: hijo2;
        iframe{
          width: 80%;
          height: 400px;
        }
      }
      .hijo3 {
        color: beige;
        grid-area: hijo3;
       
      }
      .hijo4 {
        color: beige;
        grid-area: hijo4;
      }
  }

  /* estilos html contacto */

.contacto{
    padding: 1rem;
  }

  /*estilo footer*/

  footer {
    margin: 1.25rem;
    display: grid;
    gap: 1.25rem;
    grid-template-areas: 
    "son1 son2 son3"
    "son1 son2 son3"
    "son1 son2 son3";
    .son1{
        grid-area: son1;
    }
    .son2{
        grid-area: son2;
    }
    .son3{
        grid-area: son3;
    }
    .wpp{
      width: 40px;
      position:fixed;
      right: 15px;
      bottom: 15px;
    }
    a {
        font-size: x-large;
        text-decoration: none;
        color: whitesmoke;

  }

}
/*estilos para celulares*/
@media screen and (max-width:500px){
    .percu{
      width: 400px;
    }
    .fotosvarias{
      @include fotosvarias;
  
    }
    .main{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;
      align-items: center;
      .main .col{
        width: 80%;
      }
    }
    .main2 {
        grid-template-areas:
          "hijo1 hijo1 hijo1"
          "hijo2 hijo2 hijo2"
          "hijo3 hijo3 hijo3"
          "hijo4 hijo4 hijo4";
    
      }
      .hijo2{
        iframe{
          width: 100%;
          height: 300px;
        }
      }
}
/*estilo para tablets*/

@media screen and (max-width:800px){
  .header .imagenHeader{
    width: 80%;
    margin: 1rem;
  }
  .percu{
    width: 400px;
  }
  .fotosvarias{
    @include fotosvarias;
  }
  .main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    .main .col{
      width: 80%;
    }
  }
  .main2 {
      grid-template-areas:
        "hijo1 hijo1 hijo1"
        "hijo2 hijo2 hijo2"
        "hijo3 hijo3 hijo3"
        "hijo4 hijo4 hijo4";
  
    }
    .hijo2{
      iframe{
        width: 100%;
        height: 300px;
      }
    }
}